.browser{
    display:flex;
    background-color: $col1;
    align-items: center;
    justify-content: center;
}
.browserpane{
    display:flex;
    background-color: $col2;
    border:0px transparent solid;
    border-radius: 20px;
    flex-direction: column;
    overflow: hidden;
}
.browsertabs {
    display: flex;
}
.serverbuttons {
    display: flex;
}
.browserbuttonlist{
    display:flex;

}
.browserbutton {
    display:flex;
    flex-direction: column;
    max-width: 400px;
}
.browserbuttonimg{
    max-width:100%;
}
.browserbuttontitle{
    max-width: 100%;
}
.serverform {
    display: flex;
}
